<!DOCTYPE html>
<html lang="fr">

	
<%- include('head') %> 

	<body>
	<%- include('form_post') %> 

		 <table class="tableau">
		<br>
		<br>



		<% let noligne = 0 %>
		<% for(elm of adresses) {%>
			<% if (noligne==0) {%>
				<tr>	
					 <% for (p in elm) {%>
					 <td><%= p %></td>
					 <% } %>
				</tr>
		 	<% } %>
			<% noligne++ %>
			
			<tr>
				<% for(p in elm) {%>
			 	<td><%= elm[p] %></td>
			 	<% } %>
			</tr>
			<% } %>

		 </table>
	</body>
</html>